.myBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;

  .myContent {
    padding: 20px 40px;
    width: 52%;
    display: flex;
    flex-direction: column;

    .baseInfo {
      width: 100%;

      h2 {
        border-bottom: 1px solid skyblue;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }

      ul {
        li {
          padding: 5px 0;
          list-style: inside;
        }
      }
    }

    .userAdvantages {
      margin-top: 30px;

      .numList {
        li {
          list-style-type: decimal;
        }
      }
    }

    .workExperience {
      margin-top: 30px;
      .workOne{
        margin-bottom: 25px;
      }
         .companyName{
            display: flex;
            justify-content: space-between;
           .companyNameBox{
             display: flex;
             align-items: center;
             &>p{
               margin-left: 5px;
             }
           }
         }
         .workContent{
           margin: 10px 0;
           li{
             list-style-type: decimal;
           }
         }
    }
    .projectExperience{
      margin-top: 30px;
      .projectOne + .projectTwo + .projectThree + .projectFour + .projectFive {
        margin-bottom: 25px;
      }
      .projectName{
        display: flex;
        justify-content: space-between;
        .projectNameLeft{
          display: flex;
          align-items: center;
          &>p{
            margin-left: 25px;
          }
        }
      }
      .projectDetail{
        margin: 10px 0;
      }
      .projectDuty{
        margin: 10px 0;
        li {
          list-style-type: decimal;
        }
      }
    }
  }
  .footerBox{
    margin: 52px 0;
  }
}